@import "sober.css";

* {
    color: @foreground;
    background-color: transparent;
    border: 0;
    margin: -2px;
    padding: 1px 3px;
    margin: 0px 4px 0px 9px;
    font-family: "SF Pro Text";
    font-size: 16px;
    font-weight: normal;
    border-radius: 8px;
    transition: all 0.5s ease;
    opacity: 1;
}

decoration {
  background-color: black;
}

window#waybar {
  background-color: @crust;
  border-radius: 0;
  opacity: 0.99;

}


/* Removing margin on letmost icon */
#custom-traydrawer
{
    margin: 0px;
    padding: 0px;
}

/* Setting background on drawer items */
#cpu,
#memory,
#temperature,
#tray,
#network.2,
#power-profiles-daemon,
#pulseaudio.2,
#backlight.2
{
    margin: 0;
    padding: 0 10px;
    background-color: @background-subtle;
}

/* Removing border-radius on items that are part of a drawer */
#memory,
#temperature
{
    border-radius: 0px;
}
#cpu {
    border-radius: 8px 0px 0px 8px;
}
#tray {
    border-radius: 0px 8px 8px 0px;
}

/* Changing colour on some stuff */
#battery.charging,
#pulseaudio.muted {
    color: @base;
    background-color: @foreground2;
}
#network.disconnected {
    color: @base;
    background-color: @urgent;
}

#workspaces * {
   color: @foreground2;
}
#workspaces button.focused * {
   color: @foreground;
}


/* SF Pro doesn't support all symbols, switch to Nerd Fonts when it is a problem */
#memory {
    font-family: "CaskaydiaCove Nerd Font";
}
