@import "sober.css";

* {
    color: @foreground;
    background-color: @crust;
    border: 0;
    margin: 0px;
    padding: 1px 4px;
    margin: 0px 4px 0px 9px;
    font-family: "SF Pro Text";
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    transition: all 0.5s ease;
}

window#waybar {
  color: transparent;
  border-radius: 0;
  opacity: 0.9;
}

/* SF Pro doesn't support all symbols, switch to Nerd Fonts when it is a problem */
#memory {
    font-family: "CaskaydiaCove Nerd Font";
}

/* Removing margin-left on letmost icon */
#custom-traydrawer {
    margin: 0px;
    padding: 0px;
}

/* Setting background on drawer items */
#cpu,
#memory,
#temperature,
#tray,
#network.2 {
    background-color: @background-subtle;
    margin: 0;
    padding: 0 10px;
}

/* Removing border-radius on items that are part of a drawer */
#memory,
#temperature {
    border-radius: 0px;
}
#cpu {
    border-radius: 8px 0px 0px 8px;
}
#tray {
    border-radius: 0px 8px 8px 0px;
}

/* Changing colour on some stuff */
#battery.charging,
#pulseaudio.muted {
    color: @base;
    background-color: @foreground2;
}
#network.disconnected {
    color: @base;
    background-color: @urgent;
}

#workspaces * {
   color: @foreground2;
}
#workspaces button.focused * {
   color: @foreground;
}
